adminUsuariosComunes/.classpath
adminUsuariosEAR/.project
adminUsuariosEAR/.settings/.jsdtscope
adminUsuariosEAR/.settings/org.eclipse.wst.jsdt.ui.superType.container
ingeniaComunes/.classpath
ingeniaComunes/.settings/org.eclipse.wst.common.project.facet.core.xml
ingeniaEJB/.classpath
ingeniaWEB/.classpath
ingeniaprofesorJPA/.classpath
ingeniaprofesorEJBClient/.classpath
ingeniaprofesorEJB/.classpath
adminUsuariosEAR/.settings/org.eclipse.wst.common.project.facet.core.xml